form input {
    height: 40px;
    width: 250px;
    border: solid 1px;
    left: 550px;
    position: relative;
    margin: 5px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form select{

    height: 40px;
    width: 250px;
    border: solid 1px;
    left: 550px;
    margin: 5px;
    position: relative;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 550px;
    position: relative;
    margin: 5px;
    width: 247px;
    height: 55px;
    border: solid 2px;
}
body{
    background-image:  linear-gradient(180deg, #cbffdc 0, #baffdc 16.67%, #abffda 33.33%, #9df2d5 50%, #92e3cf 66.67%, #89d5c9 83.33%, #83c9c4 100%)
}